body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-color: #353535;
	color:#fff;
}

.navbar {
    background-image: url('https://media.discordapp.net/attachments/1188918212436435032/1285154130083577878/karte.jpg?ex=66e93c8d&is=66e7eb0d&hm=b46cbc0f207025a5ee2860213b9233da3f35a9da661235234700f3ed59697939&=&format=webp&width=1111&height=625');
    background-size: cover; /* Bild vollständig abdecken */
    background-repeat: no-repeat; /* Bild nicht wiederholen */
    background-position: center; /* Bild zentrieren */
    color: white;
    padding: 30px;
    text-align: center;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
	height:75vh;
    background-color: #353535;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.sidebar li:hover {
    background-color: #ddd;
	color:Black;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.content {
    flex: 1;
    padding: 20px;
}

.images-container {
	margin-top: 5vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.images-container img {
    max-width: 500px;
    display: none; /* Bilder anfangs nicht anzeigen */
}

